.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 80%;
}
.logo img {
  width: 4rem;
}
.list ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.list ul li {
  padding: 10px 20px;
}
.list ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #1e3050;
  font-size: 18px;
}
.list ul li a:active {
  color: #1e3050;
}
.list ul li a:focus {
  border: none;
}
@media (max-width: 768px) {
  .hide {
    display: none;
  }
}
@media (min-width: 769px) {
  .show {
    display: none;
  }
}
