.sidebar {
  width: 100vw;
  height: 89.8vh;
  padding: 0 30px;
  position: absolute;
  transition: all 1s;
  border-right: 1px solid #1e3050;
  left: -100%;
  background-color: white;
}
.sidebar.active {
  left: 0;
}
.sidebar ul {
  padding: 20px 0 0;
}
.sidebar ul li {
  list-style-type: none;
}
.sidebar ul li a {
  text-decoration: none;
  color: #1e3050;
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  text-align: center;
  border-radius: 6px;
}
.sidebar ul li a:hover,
.sidebar ul li a:active {
  background-color: #ccc;
}
.closeSideBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1em;
  margin-top: 10px;
}
@media (min-width: 769px) {
  .show {
    display: none;
  }
}
